html body .causes .wrapper .causes-content .cause-6{
		width: 25%;
		font: 20px/20px "GothamProMedium";
		color: #333333;
 		text-align: center;
 		float: left;
}

html body .causes .wrapper .causes-content .cause-6 img{
		margin: 13.5% auto;
}

html body .causes .wrapper .causes-content .cause-6 span{
		font: 18px/18px "MyriadProRegular";
}