.section-2 h3 {
  font: 48px/48px "GothamProMedium", sans-serif;
  line-height: 1.5;
}

p.font2 {
  font: 20px/20px "GothamProMedium", sans-serif;
  text-align: center; 
  line-height: 1.5;
}

p.font2 u {
  text-decoration: none;
  font: 18px/18px "GothamProLight", sans-serif;
}