html body .events .wrapper .title{
 		color: #333333;
 		text-align: center;
 		font: 48px/48px "GothamProMedium";
 		position: relative;
 		top: 30px;
}

html body .events .wrapper .title p{
		font: 24px/24px "GothamProLight";
}